<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SelenideTestSuite" parallel="tests" thread-count="3">

      <!-- First Test Tag-->
    <test name="SelenideTests">
        <groups>
            <define name="MainSelenide">
                <include name="Selenide 1"/>
                <include name="Selenide 2"/>
            </define>
            <run>
                <include name="MainSelenide"/>
            </run>
        </groups>
        <classes>
            <class name="Homework1.SelenideTests"/>
            <class name="SelenideTests2"/>
        </classes>
    </test>

    <!-- Second Test Tag-->
    <test name="SelenideFrontEndTests">
    <groups>
        <run>
            <include name=".*FrontEnd"/>
        </run>
    </groups>
    <classes>
        <class name="Homework1.SelenideTests"/>
    </classes>
    </test>

</suite>
