<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SelenideTestSuite" parallel="tests" thread-count="3">

    <test name = "ParametersTest1">
        <parameter name="firstName" value="Bruce"/>
        <parameter name="lastName" value="Wayne"/>
        <parameter name="gender" value="Male"/>
        <parameter name="mobileNumber" value="5920400700"/>
        <classes>
            <class name = "AlternativeParametrizations">
                <methods>
                    <include name="validateWithParameters"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name = "ParametersTest2">
        <parameter name="firstName" value="Optimus"/>
        <parameter name="lastName" value="Prime"/>
        <parameter name="gender" value="Other"/>
        <parameter name="mobileNumber" value="5981241155"/>
        <classes>
            <class name = "AlternativeParametrizations">
                <methods>
                    <include name="validateWithParameters"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name = "ParametersTest3">
        <parameter name="firstName" value="Mayuri"/>
        <parameter name="lastName" value="Shiina"/>
        <parameter name="gender" value="Female"/>
        <parameter name="mobileNumber" value="5999999999"/>
        <classes>
            <class name = "AlternativeParametrizations">
                <methods>
                    <include name="validateWithParameters"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
